# DOCKER / CONTAINERS
MYSQL_IMAGE=
CONTAINER_DATABASE_NAME=
CONTAINER_API_NAME=

# DATABASE (MySQL)
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=

# API
API_PORT=

# TOKEN
SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRATION_TIME=
REFRESH_TOKEN_EXPIRATION_TIME=