# DOCKER / CONTAINERS
MYSQL_IMAGE=
RABBITMQ_IMAGE=
CONTAINER_DATABASE_NAME=
CONTAINER_API_NAME=
CONTAINER_RABBITMQ_NAME=
CONTAINER_CELERY_NAME=

# DATABASE (MySQL)
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=
RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=
DATABASE_HOST=
DATABASE_PORT=
RABBITMQ_PORT_INTERFACE=
RABBITMQ_PORT_AMQP=

# API
API_PORT=

# TOKEN
SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRATION_TIME=
REFRESH_TOKEN_EXPIRATION_TIME=