# Python bytecode and caches
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# Environment variables and secrets
*.env

# Testing, coverage, linting
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/

# Celery
celerybeat-schedule
celerybeat.pid

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# IDE
#.idea/
#.vscode/